<!-- <p>login works!</p> -->

<!-- <form id="loginForm" method="POST" action="Login">
    <div id="user-Pass">
        <label>Email:</label>
        <input type="text" name="login_email">
        <label>Password:</label>
        <input type="password" name="login_password">
        <input type="submit" value="login">
    </div>
</form> -->

<div id="signin-content">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" id="form">
                <p>Please login to continue</p>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="User" formControlName="userName" required>
                    <mat-error *ngIf="isFieldInvalid('userName')">
                        Please inform your user name
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-error *ngIf="isFieldInvalid('userName')">
                        Please inform your password
                    </mat-error>
                </mat-form-field>
                <button class="btn">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>