#side-bar {
    text-align: right;
}

.row {
    margin-top: 20px;
    margin-right: 0px;

}

#main {
    /*make background gray*/
    background: gray;
    text-align: center;
}

#main2 {
    margin-top: 13%;
    margin-bottom: 13%;
}

#side {
    background: red;
    float: right;
}