<div class = "row">
  <div class="col-lg-7">
    <h3>Stocks Page</h3>
    <igx-financial-chart [dataSource]=post width="750px" height="750px" brushes="Green, Blue" outlines="Green, Blue"
      negativeBrushes="Red" negativeOutlines="Red" thickness="1">
    </igx-financial-chart>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <label>Click here to input your Ticker:</label>
        <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [(value)]="option"
            (onSelectionChange)=updateChart(option)>
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <div class="card" *ngFor="let post of postNews.data">
      <div class="card-body">
        <h3>{{ post.title }}</h3>
        <p>{{ post.text }}</p>
        <img src={{post.image_url}} alt="">
      </div>
    </div>
  </div>

  <!-------- Portfolio Table Functionality -------->
  <div class="col-lg-5">
      <div class="alert alert-info"><b>Stock Market Data</b></div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Open</th>
              <th>Close</th>
              <th>Volume</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of post">
              <td>{{post.date}}</td>
              <td>{{post.open}}</td>
              <td>{{post.close}}</td>
              <td>{{post.volume}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
