<app-navbar></app-navbar>
<router-outlet></router-outlet>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<!-- 
<app-authentication></app-authentication>

<app-gold></app-gold>

<app-home></app-home>

<app-jsp></app-jsp>

<app-news></app-news>

<app-oil></app-oil>

<app-politics></app-politics>

<app-sidebar></app-sidebar>

<app-stocks></app-stocks>

<app-us></app-us> -->